footer {
  display: flex;
  padding: 2rem;
  background: #000;
  color: #fff;
  gap: 0.5rem;
}

footer a {
  color: #fff;
}

footer .logo img {
  margin-left: -1rem;
}

footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: end;
}

footer ul li {
  list-style: none;
  padding: 0;
}

footer .footer__column:last-child {
  display: flex;
  flex-grow: 1;
  justify-content: right;
  text-align: right;
}

@media (max-width: 500px) {
  footer {
    flex-direction: column;
    gap: 2rem;
  }

  footer .footer__column:last-child {
    justify-content: left;
    text-align: left;
  }
}
