<footer class="footer">
    <div class="footer__column">
        <div class="logo">
            <img src="{{'/assets/img/noctua-logo-white.avif' | url}}" aria-hidden="true" loading="lazy"/>
        </div>

        <ul>
            <li>9920 Pacific Heights Blvd.</li>
            <li>Suite 150</li>
            <li>San Diego, CA 92121</li>
        </ul>
    </div>

    <div class="footer__column">
            <img src="{{'/assets/img/partner.avif' | url}}" aria-hidden="true" loading="lazy" width="200" height="100"/>
    </div>

    <div class="footer__column">
        <ul>
            <li>
                <a href="https://www.linkedin.com/company/noctuatech/" target="_blank" rel="noopener noreferrer">Linkedin</a>
            </li>

            <li>
                <a href="mailto:Info@NoctuaTech.com?subject=Inquiry - Noctua Technology, Inc.">Info@NoctuaTech.com</a>
            </li>

            <li>
                <a class="privacy-policy" href="{{'/privacy-policy' | url}}">Privacy Policy</a>
            </li>

            <li>
                ©2024 Noctua Technology, Inc. All Rights Reserved.
            </li>
        </ul>
    </div>
</footer>