<div class="hero">
    <div class="hero__img-wrapper">
        <nct-img src="{{ '/assets/img/banners/blocks.webp' | url }}" >
            <img
                height="666" 
                width="980" 
                src="{{ '/assets/img/banners/loading/blocks.webp' | url }}"
                aria-hidden="true"/>
        </nv-img>
    </div>

    <h1>{{hero_title}}</h1>

    <div class="hero__text">{{hero_text}}</div>
</div>